@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<Webapp.Models.ProductModel>

<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price </th>
        <th>Category</th>
        <th>Discontinued</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.ProductDescription</td>
            <td>@item.Price</td>
            <td>@item.CategoryName</td>
            <td>@item.Discontinued</td>
            <th style="text-align: center;"><a asp-action="Delete" asp-route-productId="@item.ProductId"><i class="btn btn-danger">Delete</i></a></th>
            <th style="text-align: center;"><a asp-action="Edit" asp-route-productId="@item.ProductId"><i class="btn btn-primary">Edit</i></a></th>

        </tr>
    }
    
    </tbody>

</table>

<hr>
<a asp-action="Create">Lägg till en ny produkt</a>
