@model Models.AccountModels.AccountModel

<h1>Välkommen @Model.FirstName</h1>
<hr/>

<div class="left container mt-3">
<ul class="nav flex-column">
	<li class="nav-item">
		<a class="nav-link" href="#">Profil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Beställningar</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Admin??</a>
	</li>
	
</ul>
</div>

<div class="info">
	<h3>Profilinställningar</h3>

	<div class="mb-3">
		<label for="FirstName" class="form-label">Namn:</label>
		<input type="text" id="FirstName" @Model.FirstName class="form-control" placeholder="@Model.FirstName"/>

	</div>
	<div class="mb-3">
		<label for="LastName" class="form-label">Efternamn:</label>
		<input type="text" id="LastName" @Model.LastName class="form-control" placeholder="@Model.LastName"/>

	</div>
	<div class="mb-3">
		<label for="Email" class="form-label">Email:</label>
		<input type="text" id="Email" @Model.EmailAddress class="form-control" placeholder="@Model.EmailAddress"/>
	</div>
	<div class="mb-3">
		<label for="PhoneNumber" class="form-label">Telefon nummer:</label>
		<input type="text" id="PhoneNumber" @Model.PhoneNumber class="form-control" placeholder="@Model.PhoneNumber" />
	</div>
	<div class="mb-3">
		<label for="City" class="form-label">Stad:</label>
		<input type="text" id="City" @Model.City class="form-control" placeholder="@Model.City"/>
	</div>
	<div class="mb-3">
		<label for="Address" class="form-label">Adress:</label>
		<input type="text" id="Address" @Model.StreetAddress class="form-control" placeholder="@Model.StreetAddress"/>
	</div>

</div>

@*<div class="mb-3">
    <label for="City" class="form-label">Stad:</label>
    <input type="text" id="City" @bind="dbUser.Address.City" class="form-control" placeholder="@dbUser.Address.City" />
</div>
<div class="mb-3">
    <label for="Street" class="form-label">Gata:</label>
    <input type="text" id="Street" @bind="dbUser.Address.Street" class="form-control" placeholder="@dbUser.Address.Street" />
</div>
<div class="mb-3">
    <label for="PostNumber" class="form-label">Postnummer:</label>
    <input type="text" id="PostNumber" @bind="dbUser.Address.PostNumber" class="form-control" placeholder="@dbUser.Address.PostNumber" />
</div>*@

<button type="submit" class="btn btn-primary">Spara Ändringar</button>

<style>
    .left{
        width: 20%;
        float: left;
    }
    
    .nav {
        margin: 0;
        padding: 0;
        list-style: none;

    }

    .nav li {
        margin: 1px 0;
    }

    .nav li a {
        display: block;
        line-height: 3em;
        width: 100%;
        text-decoration: none;
    }
    .info{
        float: left;
        width: 77%;
    }

</style>