@*@{
    ViewData["Title"] = "Shopping Cart";
}
<h1>@ViewData["Title"]</h1>

@model List<ProductCartModel>

<h1>Shopping Cart</h1>

<table>
    <thead>
    <tr>
        <th>Produkt</th>
        <th>Antal</th>
        <th>Pris</th>
        <th>Totalt</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Quantity</td>
                <td>@item.Price.ToString("c"))</td>
            <td>@(item.Quantity * item.Price).ToString("c")</td>
            <td><a href="@Url.Action("RemoveFromCart", new { productId = item.ProductId})">Remove</a></td>
        </tr>
    }
    </tbody>
    <tfoot>
@*    <tr>
        <td colspan="3"></td>
        <td>@Model.Sum(item => item.Quantity * item.Product.Price).ToString("c")</td>
        <td></td>
    </tr>*@
@*    </tfoot>
</table>
*@